<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3f281905bb2a965c301d3529a816d6e7c78f681b
.mybody{
    background: #fab1a0;
}
.mybutton{
    background: #d63031;
<<<<<<< HEAD
=======
.mybody{
    background: #fab1a0;
}
.mybutton{
    background: #d63031;
>>>>>>> 81fc4c7b538cd21adfac2a602a959ab6d67fa1fa
=======
>>>>>>> 3f281905bb2a965c301d3529a816d6e7c78f681b
}