<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>VIEW</h1>
    <table>
        <tr>
            <th>BOOK NAME</th>
            <th>BOOK COVER</th>
        </tr>
       
        <tr>
                <%
                for(var i=0;i<.length;i++)
                {%>
            <td><%=data[i]%></td>
            <%}%>
            <td><img src="/public/images/che.jpg" style="width:10%"></td>
        </tr>
      
   
    </table>
    
</body>
</html>