<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>VIEW</h1>
    <img src="./public/images/che.jpg" class="rounded mx-auto d-block" alt="..." style="width:2%">
</body>
</html>