{%extends "layout1.html"%}
{%block content%}
<br>
<br>
<div class="row">
     <div class="col-sm-12">
     <div class="about">
            <h3 style="color:darkred;font-family:Georgia, 'Times New Roman', Times, serif;">ABOUT US</h1>
               <br>
            <p style="color:darkred;font-family:Georgia, 'Times New Roman', Times, serif;"> We are leading supplier for Laboratory, Industrial, Laundry & Construction Chemicals, Water, and Waste Water Testing, Analytical and Medical Instruments, Glassware & Consumables.We have professional Marketing and Technical Support personnel’s to coordinate with our clients to understand their needs and providing appreciable sales & after sales support.</p>
            </div>
          </div>
</div>
<div class="row">
     <div class="col-sm-12">
               <img src="{{url_for('static',filename='images/cc.jpg')}}">
     </div>
</div>
{%endblock%}
