{%extends "layout1.html"%}
{%block content%}
<div class="contact">
<div class="row">
    <div class="col-sm-8">
      <b>  <i><h5>CONTACT DETAILS</h5></i></b>
        <pre>
            <p style="background:rgb(252, 129, 129); color:floralwhite;">
                    Visit us
                    Al Owais Building, Al Khabaisi, Abu Hail,Dubai, UAE
                    Email Us
                    info@kemlinkuae.com
                    Call Us
                    (+971) 501019254/3  
                
                
                
                
                
                </p>
        </pre>
    </div>
    <div class="col-sm-2">
        <i><b><h5 style="text-align:center;">PARTNERS</h5></b></i>
            <img src="{{url_for('static',filename='images/sol1.png')}}">
            <img src="{{url_for('static',filename='images/sol2.png')}}">
    </div>

</div>
</div>
{%endblock%}