<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>welcome to employeeee</h1>
  
        <ul>
        
               <pre>
    <li><a href="/emp/new">NEW EMPLOYEE</a></li>
    <li><a href="/emp/edit">EDIT EMPLOYEE</a></li>
    <li><a href="/emp/view">VIEW EMPLOYEE</a></li>
    <li><a href="/emp/del">DELETE EMPLOYEE</a></li>
            </pre>
    
    </ul>
    
</body>
</html>