<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>NEW EMPLOYEE</h1>
  
        <ul>
        
               <pre>
    <li><a href="/emp/new/per">NEW PERMANENT EMPLOYEE</a></li>
    <li><a href="/emp/new/daily">NEW DAILY WAGES EMPLOYEE</a></li>
   
            </pre>
    
    </ul>
    
</body>
</html>