<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>welcome to printer</h1>
  
        <ul>
        
               <pre>
    <li><a href="pro/print/newp">NEW PRINTER</a></li>
    <li><a href="pro/print/editp">EDIT PRINTER</a></li>
    <li><a href="pro/print/viewp">VIEW PRINTER</a></li>
    <li><a href="pro/print/delp">DELETE PRINTER</a></li>
            </pre>
    
    </ul>
    
</body>
</html>