<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>welcome to PRODUCT</h1>
  
        <ul>
        
               <pre>
    <li><a href="/pro/scan">SCANNER</a></li>
    <li><a href="/pro/print">PRINTER</a></li>
    
            </pre>
    
    </ul>
    
</body>
</html>