<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>DATABASE SAMPLE</h1>
    <form action="/insert" method="post">
     id
        <input type="text" name="id"><br>
        NAME
        <input type="text" name="emp"><br>
        SALARY
        <input type="text" name="sal"><br>

    <button class="btn btn-success" type="submit">insert</button>
</form>
</body>
</html>